div.container {
  padding-bottom: 100%;
  position: relative;
}

canvas.board {
  /* image-rendering: optimizeQuality; */
  position: absolute;
  top: 0; right: 10px; bottom: 10px; left: 0;
  width: 100%;
  display: flex;
  border: 1px solid rgba(0,0,0,0.17);
}